.jumbotron{
    display: flex;
    background-color: rgb(190,190,190);
    flex-wrap: wrap;
    height:100%;
    justify-content: center;
    width: 100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title{
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}