.jumbotron{
    display: flex;
    flex-wrap: wrap;
    height:100%;
    justify-content: center;
    width: 100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title{
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    padding:3em;
    /* background-color: red; */
}

.title > *{
    font-family: 'Roboto Slab', serif;;
    font-weight: bold !important;
}